body {
  background-image: url("https://img.freepik.com/premium-vector/black-carbon-industrial-background_79145-253.jpg");
  color: #FFD;
  font-family: Arial, helvetica, sans-serif;
  margin: 5% 10%;
}


.exp-header {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: rgba(178,34,34)
}

h1  {
  font-family: Lucida Grande;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
}

h3  {
  font-family: Arial;
  font-size: 30px;
  text-align: center;
}

h4 {
  font-family: Arial;
  font-size: 30px;
  text-align: Center; 
  text-transform: uppercase;
}

h5 {
  font-family: Arial;
  font-size: 30px;
  text-align: Center; 
  text-transform: uppercase;
}

p,li {
  color: white;
  font-size: 20px;
}
