body {
  background-color: black;
  color: #FFD;
  font-family: Arial, helvetica, sans-serif;
  margin: 5% 10%;
}


.exp-header {
  text-transform: uppercase;
  text-align: center;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: rgba(178,34,34)
}

h1  {
  font-family: Lucida Grande;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
}
